@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  background-color: rgb(255, 255, 255);
  box-shadow: gray 2px 1px 10px 4px;
}

header img {
  height: 80px;
}

header a {
  position: absolute;
  right: 30px;
  color: #3f7941;
  transform: scale(150%);
}

.Bildbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(Images/Blad.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 3px 10px;
}

.Bildbox h1 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto" sans-serif;
  margin: 0;
}

.Bildbox p {
  font-size: 25px;
  color: #d1d1d1;
  text-transform: capitalize;
  margin: 20px 0;
}

.Bildbox button {
  background-color: #3f7941;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px 5px #3f7941;
  transition: 1s;
}

.Bildbox button:hover {
  transform: scale(105%);
  transition: 1s;
}

#Viktig-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  background-color: #ffffff;
  margin-bottom: 3px;
  font-family: "Lora", sans-serif;
}

h2 {
  margin-right: 550px;
}

#Viktig-text p {
  font-size: 18px;
  line-height: 38px;
  margin: 30px 550px 0px 40px;
  font-family: "Lora", sans-serif;
  position: relative;
}

#Viktig-text p::first-line {
  font-weight: bold;
}

#Viktig-bild img {
  position: absolute;
  width: 400px;
  right: 100px;
  top: 720px;
  box-shadow: 0 0.2rem 0.4rem rgba(135, 135, 135, 0.5);
}

h1 {
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 50px;

  margin-top: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.Container {
  margin: 0px 0px 50px 0px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

h3 {
  border-top: 2px solid gray;
  margin-top: 100px;
  font-size: 30px;
  padding: 30px 0 30px 0;
  text-transform: uppercase;
  text-align: center;
}

h3 span {
  color: #3f7941;
}

button a {
  text-decoration: none;
  color: white;
}

.Btn-bestsell {
  background-color: #3f7941;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.Text-bestsell {
  text-align: center;
  font-size: 23px;
  font-style: italic;
  margin: 10px;
}

.Text-bestsell span {
  text-decoration: line-through;
  color: red;
}

.Box-bestsell img {
  aspect-ratio: 1/1;
  width: 300px;
  position: relative;
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.5s ease;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: relative;
}

.Box-bestsell img:hover {
  transform: scale(101%);
}

.Box-bestsell-container {
  background-color: #ffffff;
  border: solid #3f7941;
  border-radius: 10px;
  box-shadow: 0 0.2rem 0.4rem rgba(135, 135, 135, 0.5);
}

.Bildbox {
  display: flex;
  justify-content: center;
}

.ikon-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  margin: 3px;
  border-top: 2px solid #c0c0c0;
  padding-top: 80px;
}

.ikon-container article {
  font-size: 18px;
  margin: 0px 20px 40px 20px;
  color: rgb(114, 114, 114);
}

.ikon-container article::first-line {
  line-height: 50px;
  font-size: 21px;
  font-weight: bold;
}

.ikon-container i {
  font-size: 80px;
  margin: 20px 0 20px 0;
  color: #3f7941;
}

.ikon-box {
  background-color: rgb(255, 255, 255);
  margin: 20px;
  margin-bottom: 100px;
  border-radius: 5px;
  box-shadow: #c7c7c7 0px 0px 15px 2px;
}

.learn-button {
  width: 150px;
  background-color: #3f7941;
  color: #ffffff;
  padding: 5px 5px;
  margin: 10px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.Bildbox2 {
  display: flex;
  width: 100%;
  height: 270px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(Images/Blad2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Animationer Javascript och CSS Reveal  */

.revealUp {
  opacity: 0;
  position: relative;
  transform: translateY(100px);
  transition: all 0.75s ease;
}

.revealUp.active {
  opacity: 1;
  transform: translateY(0px);
}

.revealRight {
  opacity: 0;
  position: relative;
  transform: translateX(200px);
  transition: all 1s ease;
}

.revealRight.active {
  opacity: 1;
  transform: translateX(0px);
}

.revealLeft {
  opacity: 0;
  position: relative;
  transform: translateX(-200px);
  transition: all 1s ease;
}

.revealLeft.active {
  opacity: 1;
  transform: translateX(0px);
}

/* Animationer Javascript och CSS Reveal Slut */

@media screen and (max-width: 600px) {
  header img {
    height: 60px;
  }

  header a {
    right: 20px;
    transform: scale(130%);
  }

  .Bildbox h1 {
    font-size: 40px;
  }

  .Bildbox p {
    font-size: 20px;
  }

  .Bildbox button {
    font-size: 16px;
    padding: 8px 20px;
  }

  #Viktig-text p {
    margin: 30px 40px 0px 40px;
    font-size: 16px;
  }
  #Viktig-text {
    padding: 10px;
    text-align: center;
  }

  #Viktig-text h2 {
    margin: 0;
    font-size: 25px;
  }

  #Viktig-text p {
    margin: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  #Viktig-bild img {
    height: 150px;
    width: 240px;
    right: 60px;
    top: 1100px;
  }

  h1 {
    margin-top: 30px;
    font-size: 18px;
  }
  .Box-bestsell {
    margin: 30px;
  }
  .Container {
    flex-wrap: wrap;
    height: auto;
  }

  .Container .revealUp.active {
    margin: 20px;
  }

  .h3 {
    padding: 10px 0;
  }

  .Box-bestsell img {
    width: 200px;
  }

  .Text-bestsell {
    font-size: 16px;
  }

  .ikon-container {
    flex-wrap: wrap;
    padding-top: 40px;
  }

  .ikon-container i {
    font-size: 60px;
    margin: 10px 0;
  }

  .ikon-box {
    margin: 10px;
    margin-bottom: 40px;
  }

  .ikon-container article {
    margin: 0px 10px 20px 10px;
    font-size: 14px;
  }

  .learn-button {
    width: 120px;
    padding: 5px;
    font-size: 16px;
  }

  .Bildbox2 {
    height: 200px;
  }

  .revealUp,
  .revealRight,
  .revealLeft {
    opacity: 1 !important;
    transform: none !important;
  }
}
