@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --huvud-färg: #3f7941;
  --ljusgrön: #3f7941d2;
  --grå: #808080;
}

* {
  line-height: 1;
  padding: 0;
  margin: 0;
}

.container img {
  height: 300px;
}

.Bildbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 100px;
  background-image: url(Images/Blad2.jpg);
  box-shadow: var(--grå) 5px 5px 5px;
}

h1 {
  color: white;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 21px;
  }
}

.container {
  width: 1180px;
  padding: 15px;
  margin: 50px auto 50px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  gap: 35px;
}

@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.box {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.35);
  gap: 17.5px;
}

.priser span {
  text-decoration: line-through;
  color: red;
}

.box img {
  width: 100%;
}

.box img:hover {
  cursor: pointer;
  opacity: 0.95;
}

.box h2 {
  font-size: 20px;
}

.box p {
  padding: 0 20px;
  font-size: 12.5px;
  line-height: 1.35;
  color: var(--grå);
}

.priser {
  font-weight: 500;
  font-size: 18px;
}

.priser span {
  text-decoration: line-through;
  color: red;
}

.box .rate {
  color: #ffb900;
  font-size: 12px;
}

.box .options {
  margin-bottom: 25px;
}

.box .options a {
  color: white;
  background-color: var(--huvud-färg);
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  border-radius: 50px;
}

.box .options a:hover {
  background-color: var(--ljusgrön);
}

/* ---------- */
