@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  background-color: rgb(255, 255, 255);
  box-shadow: gray 2px 1px 10px 4px;
}

header img {
  height: 80px;
}

header a {
  position: absolute;
  right: 30px;
  color: #3f7941;
  transform: scale(150%);
}

.Bildbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(Blad.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 3px 10px;
}

.Bildbox h1 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto" sans-serif;
  margin: 0;
}

.Bildbox p {
  font-size: 25px;
  color: #d1d1d1;
  text-transform: capitalize;
  margin: 20px 0;
}

.Bildbox button {
  background-color: #3f7941;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 26px 5px #3f7941;
  transition: 1s;
}

.Bildbox button:hover {
  transform: scale(105%);
  transition: 1s;
}

#Viktig-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  background-color: #ffffff;
  margin-bottom: 3px;
  font-family: "Lora", sans-serif;
}

h2 {
  margin-right: 550px;
}

#Viktig-text p {
  font-size: 18px;
  line-height: 38px;
  margin: 30px 550px 0px 40px;
  font-family: "Lora", sans-serif;
  position: relative;
}

#Viktig-text p::first-line {
  font-weight: bold;
}

h1 {
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.Container {
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

h3 {
  margin-top: 100px;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}

.Box img {
  aspect-ratio: 1/1;
  width: 300px;
  position: relative;
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.5s ease;
}

.Bildbox {
  display: flex;
  justify-content: center;
}

.ikon-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  margin: 3px;
}

.ikon-container article {
  font-size: 18px;
  margin: 0px 20px 40px 20px;
  color: rgb(114, 114, 114);
}

.ikon-container article::first-line {
  line-height: 50px;
  font-size: 21px;
  font-weight: bold;
}

.ikon-container i {
  font-size: 80px;
  margin: 20px 0 20px 0;
  color: #3f7941;
}

.ikon-box {
  background-color: rgb(223, 223, 223);
  margin: 20px;
  border-radius: 5px;
  box-shadow: #9a9a9a -2px 0px 5px;
}

.ikon-text {
}

.learn-button {
  background-color: #3f7941;
  color: #ffffff;
  padding: 5px 5px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.Bildbox2 {
  display: flex;
  width: 100%;
  height: 270px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(Blad2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.revealUp {
  opacity: 0;
  position: relative;
  transform: translateY(100px);
  transition: all 0.75s ease;
}

.revealUp.active {
  opacity: 1;
  transform: translateY(0px);
}

.revealRight {
  opacity: 0;
  position: relative;
  transform: translateX(200px);
  transition: all 1s ease;
}

.revealRight.active {
  opacity: 1;
  transform: translateX(0px);
}

.revealLeft {
  opacity: 0;
  position: relative;
  transform: translateX(-200px);
  transition: all 1s ease;
}

.revealLeft.active {
  opacity: 1;
  transform: translateX(0px);
}

/* CSS Till Footern */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f7941;
  height: 250px;
}

.Powered-by {
  color: #fff;
  padding: 15px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.footer-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.footer-links .links a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: 0.5s;
}

.footer-links .links a:hover {
  color: #9cba9d;
  transform: scale(110%);
  transition: 0.5;
}

/* CSS till Footern */

/* Hamburgermeny */

/* @media */

/* Minsida2.html */

.small-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}

.Rad {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Stor-produktbild {
  margin-top: 80px;
}

.Rad-små-bilder {
  display: flex;
  justify-content: space-around;
}

.kol-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.Stor-produktbild .kol-2 img {
  padding: 0;
}

.Stor-produktbild .kol-2 {
  padding: 20px;
}

.kol-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.kol-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.Stor-produktbild select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.Stor-produktbild h2 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
  animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.Stor-produktbild input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid rgb(0, 0, 0);
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.btn {
  display: inline-block;
  background-color: rgb(57, 179, 224);
  padding: 8px 24px;
  margin: 28px 0;
  border-radius: 20px;
  transition: 0.5s;
}

.btn:hover {
  background-color: rgb(27, 149, 194);
}

/* Sida 3 contact page */

.kontakt-container {
  margin: 40px 0px 40px 0px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.kontakt-container:after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("Forest.jpg") no-repeat center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}
.kontakt-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.Vänstra-sidan {
  background: url("Blad.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.Högra-sidan {
  padding: 25px 40px;
}

h5 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

h5:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #3f7941;
}

.textfält {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.textfält:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  resize: none;
  min-height: 150px;
}

.knapp {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #3f7941;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}

.knapp:hover {
  background-color: #326033;
}

.textfält:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

/* Sida 3 Slut */

@media only screen and (max-width: 800px) {
  .ikon-container {
    flex-wrap: wrap;
  }

  #Viktig-text p {
    font-size: 18px;
    line-height: 38px;
    margin: 30px 80px 0px 40px;
    font-family: "Lora", sans-serif;
    position: relative;
  }
}
