@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  background-color: rgb(255, 255, 255);
  box-shadow: gray 2px 1px 10px 4px;
}

header img {
  height: 80px;
}

header a {
  position: absolute;
  right: 30px;
  color: #3f7941;
  transform: scale(150%);
}

h1 {
  text-align: center;
  margin: 30px 0 20px 0;
}

/* Hambruger */

/* ------ */

/* Slide */
.container-bestsell {
  width: 100%;
  height: auto;
  position: relative;
}
.arrow {
  width: 30px;
  height: 30px;
  padding: 2px;
  position: absolute;
  bottom: calc(50% - 10px);
  z-index: 3;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.58);
  transition: opacity 0.5s ease;
}
#left-arrow {
  left: calc(50% - 170px);
}
#right-arrow {
  right: calc(50% - 170px);
}
.slider {
  width: 100%;
  height: auto;
  /* We need a padding left 
    so that the elements will be centered at all times*/
  padding-left: 40%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
}
.slider::-webkit-scrollbar {
  display: none;
}
.box {
  /* scroll-snap-align is very important
    , it will help us figure out where is the center of every box*/
  scroll-snap-align: center;
  width: 500px;
  /* Important!! min-width tells my slider it can not
     resize my elements to fit, it has to do scroll*/
  min-width: 350px;
  height: 400px;
  margin: 15px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(89 73 100);
  background-color: white;
  transition: opacity 0.3s ease-in;
  opacity: 0.5;
}

.box:nth-child(1) {
  background-image: url(Blad.jpg);
}

.box:nth-child(2) {
}

.box:nth-child(3) {
}

#center {
  opacity: 1;
}

.dummy {
  min-width: 70%;
  scroll-snap-align: none;
  visibility: hidden;
}

.Text-slideshow {
  width: 100%;
  min-width: 320px;
  height: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ---- */

.Container-produkter {
  margin: 50px 0px 50px 0px;
  background-color: #dfc4ae;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.Btn-produkt {
  margin: 360px auto 10px auto;
  border-radius: 20px;
  border: none;
  width: 200px;
  opacity: 0.9;
  transition: 0.5s;
}

.Btn-produkt:hover {
  opacity: 1;
  box-shadow: white 0px 0px 1px 0.5px;
}

#text-produkter {
  width: 250px;
  position: relative;
  margin: 10px;
  text-align: center;
}

.box-produkter {
  display: flex;
  height: 400px;
  width: 250px;
  position: relative;
  background-color: rgb(0, 255, 162);
  margin: 10px;
  box-shadow: gray 2px 3px 4px;
}

.box-produkter p {
  margin: 320px 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.box-produkter:nth-child(1) {
  background: url(Blad.jpg);
}

.box-produkter:nth-child(2) {
  background: url(Blad.jpg);
}

.box-produkter:nth-child(3) {
  background: url(Blad.jpg);
}

.box-produkter:nth-child(4) {
  background: url(Blad.jpg);
}

.box-produkter:nth-child(5) {
  background: url(Blad.jpg);
}

.box-produkter:nth-child(6) {
  background: url(Blad.jpg);
}

.box-produkter:nth-child(7) {
  background: url(Blad.jpg);
}

.box-produkter:nth-child(8) {
  background: url(Blad.jpg);
}

.box-produkter:hover {
  /* Byt bild på hover */
}

/* ---------- */

/* CSS Till Footern */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f7941;
  height: 250px;
}

.Powered-by {
  color: #fff;
  padding: 15px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.footer-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.footer-links .links a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: 0.5s;
}

.footer-links .links a:hover {
  color: #9cba9d;
  transform: scale(110%);
  transition: 0.5;
}

/* CSS till Footern */
